html
	head
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,100', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Raleway:400,600,300', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='./public/css/home.css')
		meta(name='viewport', content='width=device-width, initial-scale=1')
	body
		#hero-welcomeText
			span.largeWord Hey!
			br
			br
			| 			Welcome to the very simple blog of Joe 
			label.smallWord (Joseph)
			| Thomas
			#menu__list
				.menu__item PROJECTS
				.menu__item POSTS
				.menu__item GITHUB
		script(src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.3.1/velocity.min.js')
		script(type='text/javascript', src='./public/js/outclick.js')
		script(type='text/javascript', src='./public/js/home.js')
