html
	head
		link(href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet")
		style.
			body{
				text-align: center;
			}
				.body__inner {
					width: 1000px;
					margin: auto;
					display: inline-block;
				}
					.body__description{
						font-family: Varela Round;
						font-size: 25px;
						font-weight: 300;
						width: 350px;
						float: left;
						text-align: left;
						margin-top: 100px;
					}
					.hero__img{
						margin-top: 100px;
						float: right;
					}
					.box{
						height: 150px;
						width: 150px;
						float: left;
						border: 3px solid rgba(255,255,255,0.5);
						box-sizing: border-box;
						margin: 10px;
					}
	body
		.body__inner
			.body__description &#128075; Hello I'm #[label(style="color: #D64541") Joe], a Web developer, and student of Math, Statistics, and Computer Science at #[label(style="color: #446CB3") UBC].#[br]#[br] Welcome to my personal blog!