html
	head
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,100', rel='stylesheet', type='text/css')
		link(rel="stylesheet" href="/public/css/posts.css")
	body
		#main__wrap
			#hero__text Posts
			#hero__time Last Updated: 11/19/2016
			.demo__wrap
				.demo__title td-idf
					.demo__time August 16 1997
			.demo__wrap
				.demo__title td-idf
					.demo__time August 16 1997
			.demo__wrap
				.demo__title td-idf
					.demo__time August 16 1997
			.demo__wrap
				.demo__title td-idf
					.demo__time August 16 1997