#hero-welcomeText{
	font-size:20px;
	font-weight:300;
	font-family: Open Sans;
	text-align: center;
	height:220px;
	width: 100%;
	position:absolute;
	top:50%;
	left:0px;
	margin-top:-200px;
}

	.largeWord{
		font-size:100px;
		font-weight:400;
	}
	.smallWord{
		font-size:10px;
		font-weight:400;
	}

	.recentHeader{
		position:absolute;
		bottom:10px;
		left:0px;
		width:100%;
		text-align: center;
		font-family: Open Sans;
		z-index: 100;
		color:#FFF;
	}

#postsCover{
	background-color:D64541;
	width:100%;
	height: 100%;
	position:absolute;
	top:90%;
	left:0px;
}

	.post-yearWrap{
		margin:5%;
		margin-top:100px;
		width:90%;
	}
	.post-thumb{
		height: 200px;
		width: 320px;
		background-color:#FFF;
		margin-right: 10px;
		float: left;
		box-shadow: 0px 0px 5px #999;
		border-radius: 3px;
	}



#hero__timeline{
	position: absolute;
	bottom: -800px;
	left: 0px;
	width: 100%;
	height: 800px;
	background-color: #6C7A89;
}
	#timeline__title{
		width: 100%;
		text-align: center;
		font-weight: 100;
		font-size: 30px;
		position: absolute;
		top: 20px;
		left: 0px;
		color: #FFF;
		font-family: Open Sans;
	}
	#timeline__wrap{
		position: absolute;
		top: 130px;
		left: 50%;
		height: 500px;
		width: 10px;
		margin-left: -5px;
		background-color: rgba(255,255,255,0.2);
		border-radius: 10px;
		position: relative;
	}
		.timeline__dot{
			position: absolute;
			top: -13px;
			left: -13px;
			border: 8px solid rgba(255,255,255,0.2);
			height: 20px;
			width: 20px;
			border-radius: 20px;
			background-color: #6C7A89;
			transition: border-color .25s;
			cursor: pointer;
		}

		.timeline__dot:hover{
			border-color: #FFF;
			transition: border-color .25s;
		}
			.timeline__label{
				font-size: 12px;
				font-weight: 300;
				font-family: Raleway;
				color: #FFF;
				margin-left: 50px;
			}
			.timeline__date{
				font-size: 10px;
				font-weight: 300;
				font-family: Raleway;
				color: #FFF;
				margin-top: 10px;
				margin-left: 50px;
				font-style: italic;
			}