@import url('https://fonts.googleapis.com/css?family=Lustria');

a{
	color: auto;
	font-style: normal;
}
#menuBtn{
	position: fixed;
	top: 20px;
	right: 20px;
	height: 40px;
	width: 40px;
	border-radius: 40px;
	border: 1px solid #DDD;
	padding: 7.5px;
	box-sizing: border-box;
	cursor: pointer;
	z-index: 1000;
	background-color: #FFF;
}
	#menuBtn:hover{
		box-shadow: 0px 0px 2px #DDD;
	}
	#menuBtn:active{
		box-shadow: 0px 0px 5px #DDD inset;
	}

#sideMenu{
	position: fixed;
	z-index: 1000;
	height: 100%;
	top: 0px;
	right: 0px;
	width: 60%;
	max-width: 250px;
	background-color: #22313F;
	padding-top: 20px;
	display: none;
}


#hero-welcomeText{
	font-size:16px;
	font-weight:300;
	font-family: Open Sans;
	text-align: center;
	height:220px;
	width: 100%;
	position: absolute;
	top: 100px;
	left: 0px;
	padding: 0 10px;
	box-sizing: border-box;
	color: #444;
}

	.largeWord{
		font-size:60px;
		font-weight:400;
		font-family: Lustria;
	}
	.smallWord{
		font-size:10px;
		font-weight:400;
		font-family: Open Sans;
	}

	.recentHeader{
		position:absolute;
		bottom:10px;
		left:0px;
		width:100%;
		text-align: center;
		font-family: Open Sans;
		z-index: 100;
		color:#FFF;
	}

#postsCover{
	background-color:D64541;
	width:100%;
	height: 100%;
	position:absolute;
	top:90%;
	left:0px;
}

	.post-yearWrap{
		margin:5%;
		margin-top:100px;
		width:90%;
	}
	.post-thumb{
		height: 200px;
		width: 320px;
		background-color:#FFF;
		margin-right: 10px;
		float: left;
		box-shadow: 0px 0px 5px #999;
		border-radius: 3px;
	}



#hero__timeline{
	position: absolute;
	bottom: -800px;
	left: 0px;
	width: 100%;
	height: 800px;
	background-color: #6C7A89;
}
	#timeline__title{
		width: 100%;
		text-align: center;
		font-weight: 100;
		font-size: 30px;
		position: absolute;
		top: 20px;
		left: 0px;
		color: #FFF;
		font-family: Open Sans;
	}
	#timeline__wrap{
		position: absolute;
		top: 130px;
		left: 50%;
		height: 500px;
		width: 10px;
		margin-left: -5px;
		background-color: rgba(255,255,255,0.2);
		border-radius: 10px;
		position: relative;
	}
		.timeline__dot{
			position: absolute;
			top: -13px;
			left: -13px;
			border: 8px solid rgba(255,255,255,0.2);
			height: 20px;
			width: 20px;
			border-radius: 20px;
			background-color: #6C7A89;
			transition: border-color .25s;
			cursor: pointer;
		}

		.timeline__dot:hover{
			border-color: #FFF;
			transition: border-color .25s;
		}
			.timeline__label{
				font-size: 12px;
				font-weight: 300;
				font-family: Raleway;
				color: #FFF;
				margin-left: 50px;
			}
			.timeline__date{
				font-size: 10px;
				font-weight: 300;
				font-family: Raleway;
				color: #FFF;
				margin-top: 10px;
				margin-left: 50px;
				font-style: italic;
			}

.menu__stop{
	color: #FFF;
	font-size: 14px;
	font-family: Open Sans;
	font-weight: 600;
	width: 100%;
	padding: 20px 30px;
	box-sizing: border-box;
	float: left;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	cursor: pointer;
}

.menu__label{
	color: #FFF;
	font-size: 12px;
	font-family: Raleway;
	font-weight: 300;
	width: 100%;
	padding: 12.5px 30px;
	box-sizing: border-box;
	float: left;
	cursor: pointer;
	transition: background-color .1s;
	text-align: 
}
	.menu__label:hover{
		background-color: rgba(0,0,0,0.4);
		transition: background-color .1s;
	}


#menu__list{
	margin-top: 30px;
}
	.menu__item{
		margin-top: 10px;
		font-size: 14px;
		font-weight: 600;
		transition: color .25s;
		cursor: pointer;
	}
	.menu__item:hover{
		color: #999;
		transition: color .25s;
	}